*{
    box-sizing: border-box;
    scrollbar-width: 0;
}

*::-webkit-scrollbar{
    display: none;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#blog-content {
    margin-top: 70px;
}